<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="container">

<header>
  <%- include('../partials/header',{fss : "" , rns : "" , client : "" , files : "", versaAuth : "" , versaFrs : ""}); %>
</header>

<main>
  <div class="jumbotron">
     <h1> <%= tagline %> </h1>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>